.form-control:focus,
button:focus {
  box-shadow: none;
  outline: none !important;
}
a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.breadcrumb {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}
.breadcrumb-item {
  font-size: 18px;
}
.breadcrumb-item a,
.breadcrumb-item.active {
  color: #ffffff;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: url("../images/b-icon.svg");
  margin: 0 8px;
}
/* all margin */
.mr0 {
  margin: 0px;
}
.mr10 {
  margin: 10px;
}
.mr20 {
  margin: 20px;
}
.mr30 {
  margin: 30px;
}
.mr40 {
  margin: 40px;
}
.mr50 {
  margin: 50px;
}
.mr60 {
  margin: 60px;
}
.mr70 {
  margin: 70px;
}
.mr80 {
  margin: 80px;
}
.mr90 {
  margin: 90px;
}
.mr100 {
  margin: 100px;
}

/* margin top */
.mr-t0 {
  margin-top: 0px;
}
.mr-t10 {
  margin-top: 10px;
}
.mr-t20 {
  margin-top: 20px;
}
.mr-t30 {
  margin-top: 30px;
}
.mr-t40 {
  margin-top: 40px;
}
.mr-t50 {
  margin-top: 50px;
}
.mr-t60 {
  margin-top: 60px;
}
.mr-t70 {
  margin-top: 70px;
}
.mr-t80 {
  margin-top: 80px;
}
.mr-t90 {
  margin-top: 90px;
}
.mr-t100 {
  margin-top: 100px;
}

/* margin right */
.mr-r0 {
  margin-right: 0px;
}
.mr-r10 {
  margin-right: 10px;
}
.mr-r20 {
  margin-right: 20px;
}
.mr-r30 {
  margin-right: 30px;
}
.mr-r40 {
  margin-right: 40px;
}
.mr-r50 {
  margin-right: 50px;
}
.mr-r60 {
  margin-right: 60px;
}
.mr-r70 {
  margin-right: 70px;
}
.mr-r80 {
  margin-right: 80px;
}
.mr-r90 {
  margin-right: 90px;
}
.mr-r100 {
  margin-right: 100px;
}

/* margin bottom */
.mr-b0 {
  margin-bottom: 0px;
}
.mr-b10 {
  margin-bottom: 10px;
}
.mr-b20 {
  margin-bottom: 20px;
}
.mr-b30 {
  margin-bottom: 30px;
}
.mr-b40 {
  margin-bottom: 40px;
}
.mr-b50 {
  margin-bottom: 50px;
}
.mr-b60 {
  margin-bottom: 60px;
}
.mr-b70 {
  margin-bottom: 70px;
}
.mr-b80 {
  margin-bottom: 80px;
}
.mr-b90 {
  margin-bottom: 90px;
}
.mr-b100 {
  margin-bottom: 100px;
}

/* margin left */
.mr-l0 {
  margin-left: 0px;
}
.mr-l10 {
  margin-left: 10px;
}
.mr-l20 {
  margin-left: 20px;
}
.mr-l30 {
  margin-left: 30px;
}
.mr-l40 {
  margin-left: 40px;
}
.mr-l50 {
  margin-left: 50px;
}
.mr-l60 {
  margin-left: 60px;
}
.mr-l70 {
  margin-left: 70px;
}
.mr-l80 {
  margin-left: 80px;
}
.mr-l90 {
  margin-left: 90px;
}
.mr-l100 {
  margin-left: 100px;
}

/* padding  */
.pd0 {
  padding: 0px;
}
.pd10 {
  padding: 10px;
}
.pd20 {
  padding: 20px;
}
.pd30 {
  padding: 30px;
}
.pd40 {
  padding: 40px;
}
.pd50 {
  padding: 50px;
}
.pd60 {
  padding: 60px;
}
.pd70 {
  padding: 70px;
}
.pd80 {
  padding: 80px;
}
.pd90 {
  padding: 90px;
}
.pd100 {
  padding: 100px;
}

/* padding top */
.pd-t0 {
  padding-top: 0px;
}
.pd-t10 {
  padding-top: 10px;
}
.pd-t20 {
  padding-top: 20px;
}
.pd-t30 {
  padding-top: 30px;
}
.pd-t40 {
  padding-top: 40px;
}
.pd-t50 {
  padding-top: 50px;
}
.pd-t60 {
  padding-top: 60px;
}
.pd-t70 {
  padding-top: 70px;
}
.pd-t80 {
  padding-top: 80px;
}
.pd-t90 {
  padding-top: 90px;
}
.pd-t100 {
  padding-top: 100px;
}

/* padding right */
.pd-r0 {
  padding-right: 0px;
}
.pd-r10 {
  padding-right: 10px;
}
.pd-r20 {
  padding-right: 20px;
}
.pd-r30 {
  padding-right: 30px;
}
.pd-r40 {
  padding-right: 40px;
}
.pd-r50 {
  padding-right: 50px;
}
.pd-r60 {
  padding-right: 60px;
}
.pd-r70 {
  padding-right: 70px;
}
.pd-r80 {
  padding-right: 80px;
}
.pd-r90 {
  padding-right: 90px;
}
.pd-r100 {
  padding-right: 100px;
}
.pd-r170 {
  padding-right: 170px;
}

/* padding bottom */
.pd-b0 {
  padding-bottom: 0px;
}
.pd-b10 {
  padding-bottom: 10px;
}
.pd-b20 {
  padding-bottom: 20px;
}
.pd-b30 {
  padding-bottom: 30px;
}
.pd-b40 {
  padding-bottom: 40px;
}
.pd-b50 {
  padding-bottom: 50px;
}
.pd-b60 {
  padding-bottom: 60px;
}
.pd-b70 {
  padding-bottom: 70px;
}
.pd-b80 {
  padding-bottom: 80px;
}
.pd-b90 {
  padding-bottom: 90px;
}
.pd-b100 {
  padding-bottom: 100px;
}

/* padding left */
.pd-l0 {
  padding-left: 0px;
}
.pd-l10 {
  padding-left: 10px;
}
.pd-l20 {
  padding-left: 20px;
}
.pd-l30 {
  padding-left: 30px;
}
.pd-l40 {
  padding-left: 40px;
}
.pd-l50 {
  padding-left: 50px;
}
.pd-l60 {
  padding-left: 60px;
}
.pd-l70 {
  padding-left: 70px;
}
.pd-l80 {
  padding-left: 80px;
}
.pd-l90 {
  padding-left: 90px;
}
.pd-l100 {
  padding-left: 100px;
}
.color-yellow {
  color: #ff8a00;
}
.color-black {
  color: #000000;
}
.color-white {
  color: #ffffff;
}
.bg-blue {
  background: #0c2657;
}
.bg-pink {
  background: #fff7df;
}
.bg-orenge {
  background-color: #ff8a48;
}
.bg-cari-green {
  background-color: #1bb8ae;
}
.section-title {
  font-size: 40px;
  background: -webkit-linear-gradient(195.62deg, #ffc000 1.55%, #ff8a00 95.8%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.para-text {
  font-size: 14px;
  color: #5c5c5c;
}
.orenge-btn {
  height: 64px;
  min-width: 180px;
  background: #ff6f1e;
  border-radius: 50px;
  font-size: 24px;
  color: #ffffff;
  border: 0px;
  padding: 10px;
  font-weight: 600;
}

.top-nav {
  position: relative;
}
.logo-block {
  position: absolute;
  top: 0px;
  z-index: 999;
}
.logo-block a {
  display: block;
  border: 12px solid #fff;
  border-radius: 20px;
}
.right-nav ul li {
  list-style-type: none;
}
.right-nav ul li h5,
.right-nav ul a {
  font-size: 14px;
  font-weight: 500;
}
#footer-wrap {
  background: #0d2249;
}
#footer-wrap h5 {
  padding: 15px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
.circle-input {
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  min-height: 60px;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
}
select.circle-input {
  background: #ffffff url("../images/g-drop-icon.png") no-repeat 94% 50%;
  -webkit-appearance: none;
}
.circle-input::-webkit-input-placeholder {
  color: #5c5c5c;
}
.circle-input::-moz-placeholder {
  color: #5c5c5c;
}
.circle-input:-ms-input-placeholder {
  color: #5c5c5c;
}
.circle-input:-moz-placeholder {
  color: #5c5c5c;
}

.body-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.middle-body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-header {
  z-index: 99;
}
.banner-wrap {
  background: linear-gradient(208.6deg, #ffc000 1.55%, #ff8a00 95.8%);
  padding: 45px 0px 35px;
  position: relative;
}
.banner-wrap::after {
  content: "";
  background: url("../images/banner-img.png") no-repeat;
  position: absolute;
  height: 100%;
  width: 332px;
  top: 0px;
  right: 10%;
  background-size: contain;
}
.banner-block p {
  font-size: 18px;
  color: #fff7df;
}
.banner-block h4 {
  color: #fff7df;
  font-size: 44px;
  font-weight: 500;
}
.s-form-wrap {
  background: #0c2657;
  padding: 50px 0px 80px;
}

.s-form-wrap .login-title {
  font-size: 24px;
}

#login-wrap {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.login-box {
  max-width: 430px;
  padding: 14px;
  margin: 0 auto;
}
.login-btn {
  background: rgb(255, 138, 0);
  background: -moz-linear-gradient(left, rgb(255, 138, 0) 0%, rgb(255, 192, 0) 100%);
  background: -webkit-linear-gradient(left, rgb(255, 138, 0) 0%, rgb(255, 192, 0) 100%);
  background: linear-gradient(to right, rgb(255, 138, 0) 0%, rgb(255, 192, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8a00', endColorstr='#ffc000',GradientType=1 );
  min-height: 60px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border: 0px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
.login-title {
  font-size: 14px;
  color: #d8d8d8;
  font-weight: normal;
}
.signup-link {
  font-size: 12px;
  color: #d8d8d8;
  font-weight: normal;
}
.signup-link a {
  color: #ffc000;
}

/* Grade Page css */
.large-cir {
  height: 460px;
  width: 460px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  background-color: #c4c4c4;
  border: 8px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.large-cir h4 {
  color: #1b1f5f;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}
.large-cir h4 span {
  font-weight: normal;
  display: block;
  font-size: 30px;
}
.class-btn-block {
  position: absolute;
  top: 0;
  cursor: pointer;
  transition: all 0.5s linear 0s;
}
.class-btn-block span {
  width: 98px;
  height: 98px;
  background: #ffffff;
  border: 2px solid #979797;
  border-radius: 50px;
  color: #5c5c5c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  transition: all 0.5s linear 0s;
}
.class-btn-block input {
  display: none;
}
.class-btn-block span:hover {
  background: #ff6f1e;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: all 0.5s linear 0s;
}
.class-btn-block input:checked ~ span {
  background: #ff6f1e;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.class5 {
  transform: translate(0px, -40px);
}
.class6 {
  transform: translate(171px, 35px);
}
.class7 {
  transform: translate(217px, 210px);
}
.class8 {
  transform: translate(110px, 365px);
}
.class9 {
  transform: translate(-107px, 373px);
}
.class10 {
  transform: translate(-224px, 217px);
}
.class11 {
  transform: translate(-176px, 38px);
}

.class5:hover {
  transform: translate(0px, -40px) scale(1.3);
}
.class6:hover {
  transform: translate(171px, 35px) scale(1.3);
}
.class7:hover {
  transform: translate(217px, 210px) scale(1.3);
}
.class8:hover {
  transform: translate(110px, 365px) scale(1.3);
}
.class9:hover {
  transform: translate(-107px, 373px) scale(1.3);
}
.class10:hover {
  transform: translate(-224px, 217px) scale(1.3);
}
.class11:hover {
  transform: translate(-176px, 38px) scale(1.3);
}

.slide-info-block {
  background: #ffffff;
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.slide-info-block h4 {
  margin: 20px 0px;
  font-size: 28px;
  color: #5c5c5c;
}
.slide-info-block p {
  font-size: 15px;
  color: #5c5c5c;
}
.chapter-box {
  background: #ffffff;
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 40px;
}
.title-block h3 {
  flex: 1;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  max-height: 68px;
  min-height: 68px;
  color: #000000;
  line-height: 1em;
  max-height: 2em;
  width: 100px;
  overflow: hidden;
  display: -webkit-box;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.chapter-box p {
  font-size: 15px;
  color: #000000;
  font-weight: normal;
}
.chapter-box h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}
.chapter-box .play-btn {
  display: inline-block;
  background: #ff8f50;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  height: 49px;
  min-width: 119px;
  max-width: 119px;
  font-size: 19px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-block {
  display: flex;
  justify-content: space-between;
}

.sub-card-wrap {
  margin: 148px 0px 100px;
}
.title-block button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 31px;
  max-width: 137px;
  min-width: 137px;
  height: 49px;
  background-color: transparent;
  color: #000000;
  font-size: 15px;
}
.sub-card {
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 10px;
}
.sub-card h4 {
  color: #ffffff;
  font-size: 28px;
  font-weight: normal;
}
.sub-card p {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
}
.sub-card h5 {
  color: #ffffff;
  font-weight: normal;
  font-size: 28px;
}
.sub-card button {
  background: #fff1c7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: 0px;
  font-weight: normal;
  font-size: 14px;
  min-width: 117px;
  height: 33px;
}

.slider-wrap {
  background-color: #ffffff;
  height: 233px;
  position: relative;
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 10px;
}
.slider-wrap .swiper-container {
  width: 90%;
  position: absolute;
  top: 50%;
  background-color: #ffffff;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 10px;
}

/* tutorial  Page */
.tutorial-list h4 {
  color: #ffc000;
  font-weight: 600;
  font-size: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
}
.tutorial-list ul {
  padding-top: 58px;
  position: relative;
  padding-left: 20px;
}
.tutorial-list ul::before {
  content: "";
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  position: absolute;
  top: 0px;
  left: 14px;
  z-index: 8;
  transform: rotate(-35deg);
  height: 42px;
  transform: rotate(-47deg) translateY(-3px) translateX(6px);
  -webkit-transform: rotate(-47deg) translateY(-3px) translateX(6px);
  -moz-transform: rotate(-47deg) translateY(-3px) translateX(6px);
  -ms-transform: rotate(-47deg) translateY(-3px) translateX(6px);
}
.tutorial-list ul li {
  list-style-type: none;
  padding-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center;
}
.tutorial-list ul li a {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.tutorial-list ul li::after {
  content: "";
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  position: absolute;
  top: -29px;
  left: 11px;
  z-index: 8;
}
.tutorial-list ul li::before {
  content: "";
  border: 1px dashed rgba(255, 255, 255, 0.5);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
  z-index: 9;
  background: #0c2657;
}
.tutorial-wrap {
  display: flex;
  flex-wrap: wrap;
}
.tutorial-list {
  width: 300px;
  margin-right: 80px;
  transition: all 0.3s linear 0s;
}

.hidelist {
  width: 0px !important;
  transition: all 0.3s linear 0s;
  margin: 0px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.tutorial-video {
  flex: 1;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 70px;
  position: relative;
}
.collapse-btn {
  position: absolute;
  left: -30px;
  transition: all 0.5s linear 0s;
}
.collapse-btn button {
  border: 0px;
  background: #c4c4c4;
  border-radius: 15px 0px 0px 15px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-block {
  background: #ffffff;
  border-radius: 20px;
  min-height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.video-block iframe {
  width: 100%;
}
.video-details h5 {
  font-size: 28px;
  color: #ffc000;
}
.video-details p {
  font-size: 18px;
  color: #ffffff;
}
.video-details button {
  background: #ffffff;
  border: 3px solid #6c95d1;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  min-width: 142px;
  height: 51px;
  color: #0c2657;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 600;
}
.flip {
  left: 0 !important;
  transform: rotateY(-173deg) !important;
  transition: all 0.5s linear 0s;
}

.step-bg {
  background: #68aeff url("../images/cloud-bg.png") top center no-repeat;
  background-size: cover;
  padding-bottom: 260px;
}
.progress-info ul li {
  list-style-type: none;
  padding-top: 23px;
}

.seen-status-wrap {
  display: flex;
  align-items: center;
  position: relative;
}
.status-block {
  position: relative;
}
.status-block::after {
  content: "";
  width: 164px;
  height: 147px;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(36%, 46%);
}
.incomplete-block .status-block::after {
  background: url("../images/step-img.png") no-repeat center;
}
.complete-block .status-block::after {
  background: url("../images/active-step.png") no-repeat center;
}
.progress-info ul li:first-child .status-block::after {
  display: none;
}
.incomplete-block .intro-btn button {
  opacity: 0.3;
  cursor: not-allowed;
}
.progress-info ul li:first-child {
  padding-top: 0px !important;
}
.intro-btn button {
  min-width: 240px;
  height: 52px;
  background: #001b4e;
  border-radius: 50px;
  font-size: 15px;
  color: #ffffff;
  border: 0px;
  margin-top: 12px;
  margin-left: 10px;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  direction: ltr;
}
.intro-btn button em {
  white-space: normal;
  max-width: 220px;
  font-style: normal;
  flex: 1;
}
.btn-icon {
  min-width: 41px;
  height: 41px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-info ul li:nth-child(odd) {
  direction: rtl;
}
.progress-info ul li:nth-child(odd) .status-block {
  transform: scaleX(-1);
}
.progress-info ul li:nth-child(odd) .intro-btn button {
  margin: 10px 10px 0 0;
}
.course-progress ul {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 7px;
  border-radius: 50px;
  max-width: 204px;
  margin-left: auto;
}
.course-progress ul li {
  list-style-type: none;
  min-width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  margin: 0px 4px;
}
.course-progress ul li:nth-child(1) {
  background: #93c951;
}
.course-progress ul li:nth-child(2) {
  background: #ff8a00;
}
.course-progress ul li:nth-child(3) {
  background: #a79c9a;
}
.learning-step-wrap {
  padding: 50px 0px;
}
.learning-card {
  text-align: center;
}
.learning-card h4 {
  font-weight: 600;
  font-size: 20px;
  color: #5c5c5c;
  margin: 20px 0px 10px;
}
.learning-card p {
  font-size: 14px;
  color: #5c5c5c;
  line-height: 14px;
}
.section-divider {
  width: 160px;
  height: 7px;
  border-radius: 50px;
  background-color: #0054a6;
  position: relative;
}
.section-divider::before {
  content: "";
  width: 50%;
  height: 100%;
  border-radius: 50px;
  background-color: #ffc000;
  position: absolute;
  left: 0;
  top: 0;
}
.feedback-block {
  background: #ffffff;
  border: 1px solid #efefef;
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  opacity: 0.4;
  transition: all 0.3s linear 0s;
}
.feedback-block:hover {
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  opacity: 1;
  transition: all 0.3s linear 0s;
  transform: scale(1.1);
}
.feedback-block p {
  font-size: 14px;
  line-height: 22px;
  margin: 20px 0px 30px;
}
.user-pro {
  display: flex;
  align-items: center;
}
.profile-img {
  width: 58px;
  height: 58px;
  background: #d8d8d8;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-info h5 {
  font-weight: 600;
  font-size: 16px;
  color: #5c5c5c;
}
.profile-info p {
  margin: 0px;
  font-size: 12px;
  color: #5c5c5c;
}
.feedback-slides .swiper-wrapper {
  padding: 60px 0px 30px;
}
.count-status-wrap {
  padding: 50px 0px 50px;
  background-color: #ff9201;
}
.count-block {
  text-align: center;
}
.count-block h3 {
  font-size: 40px;
  color: #ffffff;
  margin: 20px 0px;
}
.count-block p {
  font-size: 14px;
  color: #ffffff;
}

@media (max-width: 991px) {
  /* For Login Media */
  .logo-block a {
    width: 48px;
    border: 4px solid #fff;
    border-radius: 12px;
  }
  .top-nav {
    padding: 6px 0px;
  }
  .right-nav ul li h5 {
    margin-right: 10px;
    font-size: 12px;
  }
  .right-nav ul li a {
    font-size: 12px;
  }
  .right-nav ul li span {
    margin: 0px 8px;
  }
  .login-box {
    padding: 0px;
  }
  .f-logo {
    width: 120px;
  }
  .login-box form {
    margin-top: 20px;
  }
  .circle-input,
  .login-btn {
    min-height: 40px;
    padding: 5px 10px;
  }
  .circle-input.mr-t20,
  .login-btn.mr-t20 {
    margin-top: 10px;
  }
  .login-btn.mr-t40 {
    margin-top: 20px;
  }

  /* Page3 responsive css */
  .middle-body {
    padding-top: 24px;
    padding-bottom: 20px;
  }
  .title-block h3 {
    font-size: 15px;
    min-height: 50px;
  }
  .title-block button {
    max-width: 100%;
    min-width: auto;
    height: 39px;
    font-size: 13px;
    display: flex;
    align-items: center;
  }
  .title-block button svg {
    width: 15px;
    margin-right: 5px;
  }
  .chapter-box p {
    font-size: 13px;
  }
  .chapter-box h5 {
    font-size: 15px;
  }
  .chapter-box .play-btn {
    height: 39px;
    min-width: 89px;
    max-width: 89px;
    font-size: 15px;
  }
  .chapter-box {
    margin-bottom: 10px;
  }

  /* index responsive css */
  .banner-wrap {
    padding: 15px 0px 15px;
  }
  .banner-block h4 {
    font-size: 20px;
  }
  .banner-block {
    position: relative;
    z-index: 9;
  }
  .banner-block p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .banner-wrap::after {
    width: 150px;
    right: 0;
  }
  .s-form-wrap {
    padding: 20px 0px 20px;
  }
  .learning-step-wrap {
    padding: 20px 0px 0px;
  }
  .learning-card {
    margin-bottom: 25px;
  }
  .learning-card img {
    width: 70px;
  }
  .learning-card h4 {
    font-size: 16px;
    margin: 10px 0px 10px;
  }
  .section-divider {
    margin: 10px auto 20px;
    width: 80px;
    height: 6px;
  }
  .section-title {
    font-size: 20px;
  }
  .para-text.mr-t40 {
    margin-top: 10px;
  }
  .feedback-block {
    opacity: 1;
  }
  .feedback-slides .swiper-wrapper {
    padding: 20px 0px;
  }
  .feedback-wrap {
    padding: 0px 15px;
  }
  .s-form-wrap .login-title {
    font-size: 18px;
  }
  .count-block {
    margin-bottom: 20px;
  }
  .count-block img {
    width: 80px;
  }
  .count-block h3 {
    font-size: 26px;
    margin: 8px 0px;
  }
  .count-status-wrap {
    padding: 20px 0px 0px;
  }

  /* Page 1 responsive css */
  .slide-info-block svg {
    width: 90px;
    height: auto;
  }
  .slide-info-block h4 {
    margin: 10px 0px;
    font-size: 18px;
  }
  .slide-info-block p {
    font-size: 14px;
  }
  .sub-card-wrap {
    margin: 0px 0px 0px;
  }
  .sub-card {
    padding: 15px;
    margin-top: 40px;
  }
  .sub-card h4 {
    font-size: 20px;
    margin: 0px 0px 10px;
  }
  .sub-card h5 {
    font-size: 18px;
  }
  .card-foot {
    margin-top: 15px;
  }
  .sub-card p {
    font-size: 13px;
    line-height: 19px;
    font-weight: normal;
  }
  .sub-card button {
    font-size: 12px;
    min-width: 95px;
    height: 27px;
  }
  .slider-wrap {
    height: 183px;
  }

  /* Page 4 responsive css start */
  .progress-info ul li .status-block {
    width: 156px;
  }
  .progress-info ul li .status-block img {
    width: 100%;
  }
  .status-block::after {
    width: 94px;
    height: 87px;
    background-size: cover !important;
    transform: translate(24%, 41%);
    -webkit-transform: translate(24%, 41%);
    -moz-transform: translate(24%, 41%);
    -ms-transform: translate(24%, 41%);
  }
  .intro-btn button {
    min-width: 130px;
    width: 130px;
    height: 32px;
    font-size: 12px;
    line-height: 15px;
  }
  .btn-icon {
    min-width: 21px;
    height: 21px;
  }
  .btn-icon svg {
    width: 7px;
  }
  .intro-btn button em {
    height: auto;
    max-width: 99px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  .course-progress ul {
    padding: 3px;
    max-width: 108px;
  }
  .course-progress ul li {
    min-width: 28px;
    height: 28px;
    font-size: 11px;
  }
  .progress-info {
    margin-top: 20px;
  }

  /* page5 responsive css */
  .tutorial-list ul li::before {
    margin-right: 4px;
    width: 12px;
    height: 12px;
  }
  .tutorial-list ul {
    padding-top: 20px;
    padding-left: 2px;
    max-height: 100px;
    overflow-y: auto;
  }
  .tutorial-list ul li {
    padding-bottom: 5px;
  }
  .tutorial-list ul li a {
    font-size: 13px;
  }
  .tutorial-list ul li::after {
    top: -11px;
    left: 6px;
  }
  .breadcrumb-item {
    font-size: 14px;
  }
  .tutorial-list h4 {
    font-size: 18px;
  }
  .tutorial-wrap {
    margin-top: 10px;
  }
  .tutorial-list ul::before {
    transform: rotate(-47deg) translateY(1px) translateX(4px);
    -webkit-transform: rotate(-47deg) translateY(1px) translateX(4px);
    -moz-transform: rotate(-47deg) translateY(1px) translateX(4px);
    -ms-transform: rotate(-47deg) translateY(1px) translateX(4px);
    left: 0px;
    height: 13px;
  }
  .tutorial-list {
    width: 200px;
    margin-right: 30px;
  }

  .video-block {
    padding: 10px;
    min-height: auto;
    border-radius: 10px;
    margin-top: 15px;
  }
  .video-details {
    margin-top: 20px;
  }
  .video-details h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .video-details p {
    font-size: 15px;
  }
  .video-details button {
    font-size: 14px;
    min-width: 112px;
    margin-top: 20px;
    height: 40px;
  }
  .collapse-btn {
    left: -19px;
  }
  .collapse-btn button {
    width: 18px;
    min-height: 43px;
  }
  .collapse-btn button svg {
    width: 100%;
  }
  .tutorial-video {
    padding-left: 30px;
  }
  .video-block iframe {
    max-height: 300px;
  }

  /* select-grade page media css */
  .large-cir {
    height: 240px;
    width: 240px;
  }
  .large-cir h4 {
    font-size: 28px;
  }
  .large-cir h4 span {
    font-size: 18px;
  }
  .class-btn-block span {
    width: 48px;
    height: 48px;
    font-size: 17px;
  }
  .class5 {
    transform: translate(0px, -25px);
  }
  .class6 {
    transform: translate(81px, 12px);
  }
  .class7 {
    transform: translate(114px, 98px);
  }
  .class8 {
    transform: translate(63px, 182px);
  }
  .class9 {
    transform: translate(-53px, 188px);
  }
  .class10 {
    transform: translate(-114px, 107px);
  }
  .class11 {
    transform: translate(-91px, 14px);
  }
  .grade-cir-wrap{
    margin-top: 30px;
  }
  .mr-t70{
    margin-top: 30px;
  }
  .orenge-btn{
    height: 40px;
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  .slide-info-block {
    background: #f9f7ef;
    box-shadow: none;
  }
  .slider-wrap {
    height: auto;
    margin-top: 0px;
  }
  .slider-wrap .swiper-container {
    position: static;
    transform: translate(0%, 0%);
  }
  .sub-card {
    margin-top: 20px;
  }
  .video-block iframe {
    height: auto;
  }
  .tutorial-list {
    width: 100%;
    margin-right: 0;
  }
  .collapse-btn button {
    display: none;
  }
  .tutorial-video {
    padding: 0px;
    border: 0px;
  }
}
.dirty-msg {
  color:red !important;
  font-size: 14px;
}