<section class="home-wrap">
    <div class="banner-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="banner-block">
                        <p class="mr-b30">Students From Class 5th To 11th, Here Is Your Dream <br>
                            Opportunity!
                        </p>
                        <h4>Play, Learn & Build Your Own Future</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="s-form-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="login-box text-center mx-auto">
                        <img src="images/stepapp-logo.png" class="f-logo" alt="Stepapp" title="Stepapp" />
                        <form class="mr-t40">
                            <h5 class="login-title mr-b10">Select School</h5>
                            <div class="form-group mr-b10">
                                <select class="form-control circle-input" name="" ng-model="selectedSchool">
                                    <option value="">Select School</option>
                                    <option ng-repeat="school in schoolList">{{school}}
                                    </option>
                                </select>
                            </div>
                            <span class="dirty-msg">{{formError}}</span>
                            <button type="button" class="login-btn mr-t20"
                                ng-click="proceedWithSchool()">Proceed</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="learning-step-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="learning-card">
                        <img src="images/adaptive-learning.svg" alt="">
                        <h4>Adaptive Learning</h4>
                        <p>Learning is made fun and easy for kids through STEPapp’s engaging gamified
                            platform.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="learning-card">
                        <img src="images/mapped-school.svg" alt="">
                        <h4>Mapped to school Curriculum</h4>
                        <p>STEPapp Concepts is mapped to the curriculum of school boards (CBSE, ICSE). </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="learning-card">
                        <img src="images/adaptive-learning.svg" alt="">
                        <h4>Rewards & Scholarships</h4>
                        <p>STEPapp Scholarships will award 10,000 students of EACH grade (5th - 11th)</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="section-divider mx-auto mr-t40 mr-b80"></div>
                </div>
            </div>
        </div>
        <div class="feedback-wrap">
            <div class=" ">
                <div class=" ">
                    <h3 class="section-title text-center">What Students Say</h3>
                    <p class="mr-t40 para-text text-center">Semaj Africa is an online education platform
                        that
                        delivers video courses,
                        programs <br> and resources
                        for Individual, Advertising & Media Specialist,.</p>
                </div>
            </div>
            <div class="feedback-slides">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="feedback-block">
                                <img src="images/double-quote.png" alt="" title="" />
                                <p>
                                    Without a doubt the biggest impact of using ‘Evidence for Learning’ is
                                    on
                                    staff time and organisation of information. The product’s price in
                                    comparison to hours saved represents great value
                                </p>
                                <div class="user-pro">
                                    <div class="profile-img">
                                        <!-- <img src="" alt=""> -->
                                    </div>
                                    <div class="profile-info">
                                        <h5>Arthur Broklyn</h5>
                                        <p>Grade: 5th</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feedback-block">
                                <img src="images/double-quote.png" alt="" title="" />
                                <p>
                                    Without a doubt the biggest impact of using ‘Evidence for Learning’ is
                                    on
                                    staff time and organisation of information. The product’s price in
                                    comparison to hours saved represents great value
                                </p>
                                <div class="user-pro">
                                    <div class="profile-img">
                                        <!-- <img src="" alt=""> -->
                                    </div>
                                    <div class="profile-info">
                                        <h5>Arthur Broklyn</h5>
                                        <p>Grade: 5th</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feedback-block">
                                <img src="images/double-quote.png" alt="" title="" />
                                <p>
                                    Without a doubt the biggest impact of using ‘Evidence for Learning’ is
                                    on
                                    staff time and organisation of information. The product’s price in
                                    comparison to hours saved represents great value
                                </p>
                                <div class="user-pro">
                                    <div class="profile-img">
                                        <!-- <img src="" alt=""> -->
                                    </div>
                                    <div class="profile-info">
                                        <h5>Arthur Broklyn</h5>
                                        <p>Grade: 5th</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feedback-block">
                                <img src="images/double-quote.png" alt="" title="" />
                                <p>
                                    Without a doubt the biggest impact of using ‘Evidence for Learning’ is
                                    on
                                    staff time and organisation of information. The product’s price in
                                    comparison to hours saved represents great value
                                </p>
                                <div class="user-pro">
                                    <div class="profile-img">
                                        <!-- <img src="" alt=""> -->
                                    </div>
                                    <div class="profile-info">
                                        <h5>Arthur Broklyn</h5>
                                        <p>Grade: 5th</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feedback-block">
                                <img src="images/double-quote.png" alt="" title="" />
                                <p>
                                    Without a doubt the biggest impact of using ‘Evidence for Learning’ is
                                    on
                                    staff time and organisation of information. The product’s price in
                                    comparison to hours saved represents great value
                                </p>
                                <div class="user-pro">
                                    <div class="profile-img">
                                        <!-- <img src="" alt=""> -->
                                    </div>
                                    <div class="profile-info">
                                        <h5>Arthur Broklyn</h5>
                                        <p>Grade: 5th</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feedback-block">
                                <img src="images/double-quote.png" alt="" title="" />
                                <p>
                                    Without a doubt the biggest impact of using ‘Evidence for Learning’ is
                                    on
                                    staff time and organisation of information. The product’s price in
                                    comparison to hours saved represents great value
                                </p>
                                <div class="user-pro">
                                    <div class="profile-img">
                                        <!-- <img src="" alt=""> -->
                                    </div>
                                    <div class="profile-info">
                                        <h5>Arthur Broklyn</h5>
                                        <p>Grade: 5th</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feedback-block">
                                <img src="images/double-quote.png" alt="" title="" />
                                <p>
                                    Without a doubt the biggest impact of using ‘Evidence for Learning’ is
                                    on
                                    staff time and organisation of information. The product’s price in
                                    comparison to hours saved represents great value
                                </p>
                                <div class="user-pro">
                                    <div class="profile-img">
                                        <!-- <img src="" alt=""> -->
                                    </div>
                                    <div class="profile-info">
                                        <h5>Arthur Broklyn</h5>
                                        <p>Grade: 5th</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="feedback-block">
                                <img src="images/double-quote.png" alt="" title="" />
                                <p>
                                    Without a doubt the biggest impact of using ‘Evidence for Learning’ is
                                    on
                                    staff time and organisation of information. The product’s price in
                                    comparison to hours saved represents great value
                                </p>
                                <div class="user-pro">
                                    <div class="profile-img">
                                        <!-- <img src="" alt=""> -->
                                    </div>
                                    <div class="profile-info">
                                        <h5>Arthur Broklyn</h5>
                                        <p>Grade: 5th</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="count-status-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <div class="count-block">
                        <img src="images/student-icon.png" alt="" title="" />
                        <h3>5,679</h3>
                        <p>
                            Registered Students
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <div class="count-block">
                        <img src="images/education-icon.png" alt="" title="" />
                        <h3>2,679</h3>
                        <p>
                            Student has been helped <br> to achieve their dreams
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <div class="count-block">
                        <img src="images/view-icon.png" alt="" title="" />
                        <h3>10,000</h3>
                        <p>
                            More than 10,000 people <br> visits our site monthly
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 ">
                    <div class="count-block">
                        <img src="images/certification-icon.png" alt="" title="" />
                        <h3>#10</h3>
                        <p>
                            Ranked among the top 10 growing <br> online learning startups in West Africa
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>