<section class="middle-body step-bg align-items-start pd-t80  ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="course-progress">
                    <ul class="mr0 pd0">
                        <li>
                            1
                        </li>
                        <li>
                            1
                        </li>
                        <li>
                            0
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10 mx-auto">
                <div class="progress-info d-flex justify-content-center">
                    <ul class="pd0 mr0">
                        <li class="incomplete-block">
                            <div class="seen-status-wrap">
                                <div class="status-block">
                                    <img src="images/unactive.png" alt="">
                                </div>
                                <div class="intro-btn">
                                    <button type="button">
                                        <em>
                                            Pinhole Camera
                                        </em>
                                        <span class="btn-icon">
                                            <svg width="13" height="18" viewBox="0 0 13 18" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.5051 7.31982H1.5706C0.700146 7.31982 0 8.07982 0 8.99982V16.3398C0 17.2598 0.719068 17.9998 1.58952 17.9998H11.4294C12.2999 17.9998 13.0189 17.2598 13 16.3198V8.97982C13 8.09982 12.3377 7.37982 11.5051 7.31982ZM6.92576 12.9598V15.0398H6.2067V12.9598C5.80932 12.7998 5.52547 12.3998 5.52547 11.9398C5.52547 11.3398 5.97962 10.8398 6.56623 10.8398C7.13392 10.8398 7.60699 11.3198 7.60699 11.9398C7.60699 12.3998 7.32314 12.7998 6.92576 12.9598Z"
                                                    fill="#001B4E" />
                                                <path
                                                    d="M2.97069 6.58C3.3113 6.58 3.57622 6.28 3.57622 5.94V4.88C3.59515 3.18 4.90082 1.8 6.49034 1.8C8.09879 1.8 9.40446 3.18 9.40446 4.86V5.94C9.40446 6.3 9.68831 6.58 10.01 6.58H10.4831C10.8237 6.58 11.0886 6.28 11.0886 5.94V4.86C11.0886 2.18 9.02601 0 6.49034 0C3.95468 0 1.89209 2.18 1.89209 4.86V5.92C1.89209 6.28 2.17593 6.56 2.49762 6.56L2.97069 6.58Z"
                                                    fill="#001B4E" />
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="incomplete-block">
                            <div class="seen-status-wrap">
                                <div class="status-block">
                                    <img src="images/unactive.png" alt="">
                                </div>
                                <div class="intro-btn">
                                    <button type="button">
                                        <em>
                                            Eclipses
                                        </em>
                                        <span class="btn-icon">
                                            <svg width="13" height="18" viewBox="0 0 13 18" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.5051 7.31982H1.5706C0.700146 7.31982 0 8.07982 0 8.99982V16.3398C0 17.2598 0.719068 17.9998 1.58952 17.9998H11.4294C12.2999 17.9998 13.0189 17.2598 13 16.3198V8.97982C13 8.09982 12.3377 7.37982 11.5051 7.31982ZM6.92576 12.9598V15.0398H6.2067V12.9598C5.80932 12.7998 5.52547 12.3998 5.52547 11.9398C5.52547 11.3398 5.97962 10.8398 6.56623 10.8398C7.13392 10.8398 7.60699 11.3198 7.60699 11.9398C7.60699 12.3998 7.32314 12.7998 6.92576 12.9598Z"
                                                    fill="#001B4E" />
                                                <path
                                                    d="M2.97069 6.58C3.3113 6.58 3.57622 6.28 3.57622 5.94V4.88C3.59515 3.18 4.90082 1.8 6.49034 1.8C8.09879 1.8 9.40446 3.18 9.40446 4.86V5.94C9.40446 6.3 9.68831 6.58 10.01 6.58H10.4831C10.8237 6.58 11.0886 6.28 11.0886 5.94V4.86C11.0886 2.18 9.02601 0 6.49034 0C3.95468 0 1.89209 2.18 1.89209 4.86V5.92C1.89209 6.28 2.17593 6.56 2.49762 6.56L2.97069 6.58Z"
                                                    fill="#001B4E" />
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="incomplete-block">
                            <div class="seen-status-wrap">
                                <div class="status-block">
                                    <img src="images/unactive.png" alt="">
                                </div>
                                <div class="intro-btn">
                                    <button type="button">
                                        <em>
                                            Types of Beam
                                        </em>
                                        <span class="btn-icon">
                                            <svg width="13" height="18" viewBox="0 0 13 18" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.5051 7.31982H1.5706C0.700146 7.31982 0 8.07982 0 8.99982V16.3398C0 17.2598 0.719068 17.9998 1.58952 17.9998H11.4294C12.2999 17.9998 13.0189 17.2598 13 16.3198V8.97982C13 8.09982 12.3377 7.37982 11.5051 7.31982ZM6.92576 12.9598V15.0398H6.2067V12.9598C5.80932 12.7998 5.52547 12.3998 5.52547 11.9398C5.52547 11.3398 5.97962 10.8398 6.56623 10.8398C7.13392 10.8398 7.60699 11.3198 7.60699 11.9398C7.60699 12.3998 7.32314 12.7998 6.92576 12.9598Z"
                                                    fill="#001B4E" />
                                                <path
                                                    d="M2.97069 6.58C3.3113 6.58 3.57622 6.28 3.57622 5.94V4.88C3.59515 3.18 4.90082 1.8 6.49034 1.8C8.09879 1.8 9.40446 3.18 9.40446 4.86V5.94C9.40446 6.3 9.68831 6.58 10.01 6.58H10.4831C10.8237 6.58 11.0886 6.28 11.0886 5.94V4.86C11.0886 2.18 9.02601 0 6.49034 0C3.95468 0 1.89209 2.18 1.89209 4.86V5.92C1.89209 6.28 2.17593 6.56 2.49762 6.56L2.97069 6.58Z"
                                                    fill="#001B4E" />
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="complete-block">
                            <div class="seen-status-wrap">
                                <div class="status-block">
                                    <img src="images/active-block.png" alt="">
                                </div>
                                <div class="intro-btn">
                                    <button type="button">
                                        <em>
                                            Transparent, Translucent & Opaque materials
                                        </em>
                                        <span class="btn-icon">
                                            <svg width="12" height="14" viewBox="0 0 12 14" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11 5.26795C12.3333 6.03775 12.3333 7.96225 11 8.73205L3.5 13.0622C2.16666 13.832 0.499999 12.8697 0.499999 11.3301L0.5 2.66987C0.5 1.13027 2.16667 0.168021 3.5 0.937822L11 5.26795Z"
                                                    fill="#001B4E" />
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="complete-block">
                            <div class="seen-status-wrap">
                                <div class="status-block">
                                    <img src="images/active-block.png" alt="">
                                </div>
                                <div class="intro-btn">
                                    <a ng-href="#!/play-chapter/1">
                                        <button type="button">
                                            <em>
                                                Introduction to Light
                                            </em>
                                            <span class="btn-icon">
                                                <svg width="12" height="14" viewBox="0 0 12 14" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M11 5.26795C12.3333 6.03775 12.3333 7.96225 11 8.73205L3.5 13.0622C2.16666 13.832 0.499999 12.8697 0.499999 11.3301L0.5 2.66987C0.5 1.13027 2.16667 0.168021 3.5 0.937822L11 5.26795Z"
                                                        fill="#001B4E" />
                                                </svg>
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>