<section class="middle-body bg-blue align-items-start pd-t80  ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 cop-md-12 col-lg-12 col-xl-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Light</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Introduction to light</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="tutorial-wrap mr-t50">
                    <div class="tutorial-list" id="list-block">
                        <h4>Introduction to Light</h4>
                        <ul class="mr0 pd0">
                            <li><a href="#">Light</a></li>
                            <li><a href="#">Important Facts</a></li>
                            <li><a href="#">Types of Sources of light</a></li>
                            <li><a href="#">Luminious and non luminous</a></li>
                        </ul>
                    </div>
                    <div class="tutorial-video pd-b90">
                        <div class="collapse-btn" id="flip-icon">
                            <button type="button" onclick="slideVideo()">
                                <svg width="17" height="31" viewBox="0 0 17 31" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.9187 18.7878L8.40689 16.118C7.92622 15.8411 7.92622 15.1489 8.40689 14.872L11.9187 12.2022C12.3994 11.9253 12.988 12.2714 12.988 12.8251V18.1649C12.9978 18.7186 12.3994 19.0647 11.9187 18.7878Z"
                                        fill="black" />
                                    <path
                                        d="M16.5193 30.5155C15.8915 31.1582 14.8517 31.1582 14.2141 30.5155L0.47086 16.652C0.274668 16.4542 0.137334 16.2169 0.0686671 15.9598C0.0588575 15.9301 0.0490479 15.9104 0.0490479 15.8807C0.0392383 15.851 0.0392383 15.8313 0.0294287 15.8016C0.00980958 15.7027 0 15.5939 0 15.4951C0 15.3863 0.00980958 15.2874 0.0294287 15.1786C0.0294287 15.149 0.0392383 15.1292 0.0490479 15.0995C0.0588575 15.0699 0.0588575 15.0501 0.0686671 15.0204C0.137334 14.7633 0.274668 14.526 0.47086 14.3282L14.2141 0.474641C14.8517 -0.158214 15.8817 -0.158214 16.5193 0.474641C16.8332 0.791069 16.9902 1.21627 16.9902 1.63158C16.9902 2.04689 16.8332 2.47209 16.5193 2.78852L3.92383 15.4951L16.5193 28.1917C17.157 28.8344 17.157 29.8727 16.5193 30.5155Z"
                                        fill="black" />
                                </svg>
                            </button>
                        </div>
                        <div class="video-block">
                            <iframe height="480"
                                src="https://www.youtube.com/embed/-SJXOTtdTDE?list=PLx-qGAzjv13c00FYZMLAJm65WjsT3ZmDR"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="video-details mr-t40">
                            <h5 class="mr-b20">LIGHT</h5>
                            <p>
                                Light is a form of energy which makes things visible.
                            </p>
                            <p>
                                An object becomes visible to us when light after striking the object reaches our
                                eye
                            </p>
                            <p>
                                Light itself is not visible, but it makes objects visible to us
                            </p>
                            <button type="button" class="mr-t50">
                                Play Quiz
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>